0.0.0.0:8000
	root /root
	gzip
	browse
filemanager /file {
    scope               /
    locale              zh-cn
    allow_commands      true
    allow_edit          true
    allow_new           true
    allow_publish       true      
}
